---
import { Image } from "astro:assets";
import Layout from "../components/Layout.astro";
import {API_BASE_URL} from "../constants"

const response = await fetch(API_BASE_URL,
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
				query IndexPage {
					posts(where: {orderby: {field: DATE, order: DESC}}) {
						nodes {
							slug
							date
							title
							excerpt
							featuredImage {
								node {
									sourceUrl
								}
							}
						}
					}
				}
      `
    }),
  });

// destructure data from our JSON
const { data } = await response.json();

//  assign the array of nodes to "posts" variable for usability
const posts = data.posts.nodes

console.log(posts)
---

<Layout>
	<div class="bg-slate-200 rounded-lg py-12">
		<h1 class="text-center text-3xl">Home Page</h1>
	</div>

</Layout>
	
