---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + WP</title>
	</head>
	<body>
    <Header />
		<main class="bg-slate-50 py-10 px-4">
			<div class="container mx-auto">

        <slot />

      </div>
    </main> 
    <Footer />
  </body>
</html>